# ======================
# GLOBAL
# ======================
.DS_Store
Thumbs.db

# ======================
# ENV (MUY IMPORTANTE)
# ======================
.env
*.env

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# NODE (backend si usa node)
# ======================
node_modules/

# ======================
# DATABASE
# ======================
*.dump
*.bak

# ======================
# DOCKER
# ======================
*.pid

# ======================
# IDE
# ======================
.vscode/
.idea/dist
